# Intro to Python

This is just a quick overview of Python in case you have questions.

### Most common data types

**Strings**

In [1]:
"hello world"

'hello world'

In [2]:
'hello world'  # same with single quotes

'hello world'

**Numbers**

In [3]:
# Integers (type == int)
99

99

In [4]:
# Floats (type == float)
99.9

99.9

In [5]:
# known float issues as any other language:
.1 * 3

0.30000000000000004

In [6]:
# "Correctly-rounded decimal floating point arithmetic"
#Â https://docs.python.org/3/library/decimal.html
from decimal import Decimal
Decimal('.1') * 3

Decimal('0.3')

**Booleans**

In [7]:
True

True

In [8]:
False

False

In [9]:
# bools are tricky
#Â https://blog.rmotr.com/those-tricky-python-booleans-2100d5df92c
isinstance(True, int)

True

ðŸ™ wat

**None / Nullable**

In [10]:
None

### Collections

**Lists**

Ordered, mutable, heterogeneous sequences, similar to arrays in other languages:

In [11]:
l = ['a', 'b', 'c']

In [12]:
l

['a', 'b', 'c']

In [13]:
l[0]

'a'

In [14]:
l.append('X')

In [15]:
l

['a', 'b', 'c', 'X']

In [16]:
'X' in l

True

In [17]:
#Â iterate over values
for elem in l:
    print(elem)

a
b
c
X

**Dictionaries**

Mapping type, similar to objects in Javascript or hashes in Ruby. Map `Key => Value`. Efficient (_O(1)_) direct access and membership testing. They're unordered.

In [18]:
d = {
    'name': 'Jane Doe',
    'email': 'jane@example.com'
}

In [19]:
d

{'email': 'jane@example.com', 'name': 'Jane Doe'}

In [20]:
d['email']

'jane@example.com'

In [21]:
'name' in d

True

In [22]:
d['phone'] = '555-555-5555'

In [23]:
d

{'email': 'jane@example.com', 'name': 'Jane Doe', 'phone': '555-555-5555'}

In [24]:
#Â iterate over keys
for elem in d:
    print(elem)

name
email
phone

In [25]:
#Â iterate over values
for elem in d.values():
    print(elem)

Jane Doe
jane@example.com
555-555-5555

In [26]:
#Â iterate over BOTH keys and values
for key, val in d.items():
    print("{}: {}".format(key, val))

name: Jane Doe
email: jane@example.com
phone: 555-555-5555